::selection{
  color: #fff;
  background-color: #f6a;
}
::-webkit-scrollbar{
  width: 16px;
  &-track{
    border: #4a4a4a solid 1px;
    background: #242424;
  }
  &-thumb{
    border: #333 solid 1px;
    background: #4a4a4a;
  }
}

html, body{ height: 100%; }

$panel-colour: #3F51B5;
$path-colour: #5C6BC0;

$accent0: #EC407A;
$accent1: #E91E63;
$accent2: #D81B60;
$accent3: #C2185B;

body{
  background: #ddd;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
  > menu{
    align-items: center;
    background: $panel-colour;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    user-select: none;
    white-space: nowrap;
    width: calc(100% - 363px);
    z-index: 1;
    > container{
      > icon{
        cursor: pointer;
        margin: 0 4px;
        user-select: none;
        transition: color 50ms;
        &:hover{
          color: $accent0;
        }
        &:active{
          color: $accent1;
        }
        &[enabled]{
          color: $accent2;
          &:hover{
            color: $accent3;
          }
          &:active{
            color: $accent0;
          }
        }
      }
    }
    > path{
      background: $path-colour;
      cursor: pointer;
      flex-grow: 1;
      font-size: 16px;
      height: 16px;
      overflow: hidden;
      padding: 4px 0;
      text-overflow: ellipsis;
      user-select: none;
    }
  }
  > repo{
    display: inline-block;
    height: 100%;
    overflow: hidden;
    left: calc(50% - (363px / 2));
    position: relative;
    transform: translateX(-50%);
    > container{
      display: block;
      height: calc(100% - #{"32px"});
      overflow-y: auto;
      position: relative;
      top: 32px;
      width: 736px;
      > upload{
        border: 4px dashed #777;
        border-radius: 16px;
        box-sizing: border-box;
        display: block;
        height: 75%;
        top: 50%;
        transform: translateY(-50%);
        margin: 4px;
        position: relative;
        > input{
          cursor: pointer;
          filter: opacity(0);
          height: 100%;
          width: 100%;
        }
        > info{
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          pointer-events: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          > text{
            display: block;
            pointer-events: none;
            user-select: none;
            text-align: center;
          }
          > icon{
            display: block;
            pointer-events: none;
            user-select: none;
          }
        }
      }
      > article{
        // 99.97% of the styles for this tag was taken from the new design page -- used for the *live* preview testing for osu!wiki editors only
        background: #333;
        border-radius: 0;
        font-family: Noto Sans,sans-serif;
        line-height: 1.35;
        color: #444;
        color: inherit;
        padding: 10px 20px;
        font-size: 14px;
        word-wrap: break-word;
        color: #fff;
        h1, h2, h3, h4, h5, h6{
          line-height: 1.1;
          font-family: Exo\ 2,Arial Grande,Tahoma,Helvetica,Arial,Microsoft YaHei,SimHei,Arial Unicode MS,sans-serif;
          font-weight: 700;
          font-style: normal;
        }
        h1{
          margin-bottom: 0;
          padding-bottom: 15px;
          border-bottom: 5px solid #fc2;
          text-shadow: 0 1px 3px rgba(0,0,0,.75);
          font-size: 32px;
          margin: -5px -5px 5px;
          padding: 5px;
          color: #fff;
          font-style: italic;
          font-weight: 400;

          display: inline-block;
        }
        h2{
          font-size: 26px;
          margin: 50px -20px 10px;
          color: #fff;
          font-weight: 700;
          font-style: normal;
        }
        h3{
          font-size: 20px;
          margin: 30px -20px 10px;
          color: #f9c;
        }
        h4{
          font-size: 18px;
          margin: 30px -10px 10px;
          font-style: italic;
          color: #f9c;
        }
        h5{
          font-size: 16px;
          font-weight: 400;
          font-style: italic;
          margin-top: 20px;
          color: #f9c;
        }
        h6{
          font-size: 14px;
          font-weight: 400;
          font-style: italic;
          margin-top: 20px;
          color: #f9c;
        }
        p{
          margin: 0 0 10px;
        }
        a{
          color: #fc2;
          text-decoration: none;
          transition: color 80ms linear;
          &:hover{
            color: #fd5;
            text-decoration: underline;
          }
        }
        img{
          border: 0;
          max-width: 100%;
          vertical-align: middle;
        }
        p.figure{
          margin: 1.5em 0;
          text-align: center;
          img{
            display: block;
            margin: 0 auto;
            + em{
              margin-top: 5px;
              font-style: normal;
              display: inline-block;
            }
          }
        }
        table{
          font-family: Exo\ 2,Arial Grande,Tahoma,Helvetica,Arial,Microsoft YaHei,SimHei,Arial Unicode MS,sans-serif;
          margin-bottom: 20px;
          background-color: transparent;
          border-collapse: collapse;
          border-spacing: 0;
          th{
            border-top: none;
            border-bottom: 2px solid #fc2;
            font-weight: 700;
            padding: 5px;
          }
          td{
            border-top: 1px solid rgba(255,204,34,.5);
            padding: 5px;
          }
        }
        pre, code{
          font-family: Menlo,Monaco,Consolas,Courier New,monospace;
        }
        pre{
          display: block;
          padding: 9.5px;
          margin: 0 0 10px;
          font-size: 15px;
          line-height: 1.25;
          word-break: break-all;
          word-wrap: break-word;
          color: #333;
          background-color: #f5f5f5;
          border: 1px solid #ccc;
          border-radius: 4px;
          overflow: auto;
          code{
            padding: 0;
            font-size: inherit;
            color: inherit;
            white-space: pre-wrap;
            background-color: transparent;
            border-radius: 0;
          }
        }
        code{
          border-radius: 4px;
          background-color: #222;
          border: 1px solid #111;
          color: #6cf;
          padding: 1px 4px;
        }
      }
    }
  }
  > errors{
    background: $panel-colour;
    box-sizing: border-box;
    color: #fff;
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0px;
    width: 363px;
    overflow: auto;
    padding: 4px;
    h1{
      align-items: center;
      clear: left;
      cursor: default;
      display: flex;
      font-size: 24px;
      margin-bottom: 0;
      user-select: none;
    }
    h2{
      clear: left;
      display: flex;
      align-items: center;
      font-size: 20px;
      margin-bottom: 0;
    }
    h3{
      align-items: center;
      clear: left;
      cursor: pointer;
      display: flex;
      float: left;
      font-size: 16px;
      margin-bottom: 0;
      user-select: none;
      > count{
        background: $accent2;
        border-radius: 4px;
        font-size: 14px;
        padding: 0 2px;
        pointer-events: none;
        position: relative;
        top: -6px;
        user-select: none;
      }
    }
    > tabs{
      display: flex;
      justify-content: space-around;
      > tab{
        border-bottom: 2px solid;
        border-bottom-color: #fff;
        cursor: pointer;
        flex-grow: 1;
        margin: 0 2px;
        user-select: none;
        text-align: center;
        &:hover{
          color: $accent0;
          border-bottom-color: $accent0;
        }
        &:active{
          color: $accent1;
          border-bottom-color: $accent1;
        }
        &[enabled]{
          color: $accent2;
          border-bottom-color: $accent2;
          &:hover{
            color: $accent3;
            border-bottom-color: $accent3;
          }
          &:active{
            color: $accent0;
            border-bottom-color: $accent0;
          }
        }
        *{
          pointer-events: none;
          user-select: none;
        }
        > count{
          background: $accent2;
          border-radius: 4px;
          color: #fff;
          font-size: 14px;
          left: -2px;
          padding: 0 2px;
          position: relative;
          top: -12px;
        }
        > small{
          font-weight: bold;
        }
      }
    }
    ul{
      clear: left;
      height: auto;
      list-style: none;
      margin-bottom: 0;
      margin-top: 0;
      overflow-y: hidden;
      padding-left: 20px;
      transition: height 1s;
      // NOTE webkit does not handle transitions from auto to 0
      &[collapsed]{
        height: 0;
      }
      li{
        clear: left;
        //cursor: pointer;
        float: left;
        padding-bottom: 4px;
        position: relative;
        margin-bottom: 2px;
        margin-top: 2px;
        word-break: break-word;
        > icon{
          cursor: pointer;
          font-size: 1em;
          left: -16px;
          position: absolute;
          user-select: none;
        }
      }
    }
  }
}
