$colours: (
  "red":(
    "prim": #f44336,
    "ligh": #ff7961,
    "dark": #ba000d
  ),
  "pink":(
    "prim": #e91e63,
    "ligh": #ff6090,
    "dark": #b0003a
  ),
  "purple":(
    "prim": #9c27b0,
    "ligh": #d05ce3,
    "dark": #6a0080
  ),
  "deepPurple":(
    "prim": #673ab7,
    "ligh": #9a67ea,
    "dark": #320b86
  ),
  "indigo":(
    "prim": #3f51b5,
    "ligh": #757de8,
    "dark": #002984
  ),
  "blue":(
    "prim": #2196f3,
    "ligh": #6ec6ff,
    "dark": #0069c0
  ),
  "lightBlue":(
    "prim": #03a9f4,
    "ligh": #67daff,
    "dark": #007ac1
  ),
  "cyan":(
    "prim": #00bcd4,
    "ligh": #62efff,
    "dark": #008ba3
  ),
  "teal":(
    "prim": #009688,
    "ligh": #52c7b8,
    "dark": #00675b
  ),
  "green":(
    "prim": #4caf50,
    "ligh": #80e27e,
    "dark": #087f23
  ),
  "lightGreen":(
    "prim": #8bc34a,
    "ligh": #bef67a,
    "dark": #5a9216
  ),
  "lime":(
    "prim": #cddc39,
    "ligh": #ffff6e,
    "dark": #99aa00
  ),
  "yellow":(
    "prim": #ffeb3b,
    "ligh": #ffff72,
    "dark": #c8b900
  ),
  "amber":(
    "prim": #ffc107,
    "ligh": #fff350,
    "dark": #c79100
  ),
  "orange":(
    "prim": #ff9800,
    "ligh": #ffc947,
    "dark": #c66900
  ),
  "deepOrange":(
    "prim": #ff5722,
    "ligh": #ff8a50,
    "dark": #c41c00
  ),
  "brown":(
    "prim": #795548,
    "ligh": #a98274,
    "dark": #4b2c20
  ),
  "blueGrey":(
    "prim": #607d8b,
    "ligh": #8eacbb,
    "dark": #34515e
  )
);

@each $group, $values in $colours{
  @each $type, $value in $values{
    .#{$group}--background.#{$type}{
      background: $value;
    }
    .#{$group}--color.#{$type}{
      color: $value;
    }
  }
}

$body--background: #111;

$menu--background: #333;
$menu--color: #fff;
$menu-path--background: #444;
$menu-path-icon--background: $menu-path--background;

$snackbar--background: #323232;
$snackbar--color: #fff;

$errors--background: rgba(0, 0, 0, 0.75);
$errors--color: #fff;

$errors-lists-list-group-ul-li-code--background: #2052ff;
$errors-lists-list-group-ul-li-code--color: #fff;

$settings--background: rgba(0, 0, 0, 0.75);
$settings--color: #fff;
