$body--background: #555555;

$menu--background: #999;
$menu--color: #fff;
$menu-path--background: #aaa;
$menu-path-icon--background: $menu-path--background;

$menu-container-icon--color: #fff;
$menu-container-icon_hover--color: #007fff;
$menu-container-icon_active--color: #0072e6;
$menu-container-icon__enabled--color: #0066cc;
$menu-container-icon__enabled_hover--color: #0059b3;
$menu-container-icon__enabled_active--color: #007fff;

$snackbar--background: #323232;
$snackbar--color: #fff;

$snackbar-text-download--color: #007fff;

$errors--background: rgba(0, 0, 0, 0.75);
$errors--color: #fff;
$errors-tabs-tab-borderBottomColor: #fff;
$errors-tabs-tab-borderBottomColor__enabled: #007fff;
