x-dropdown{
  background: #fff;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  width: 150px;
  &[data-active]{
    > x-options{
      display: inline-flex;
    }
  }
  > x-selected{
    display: flex;
    justify-content: space-between;
    width: inherit;
    > .text{
      pointer-events: none;
    }
    > x-icon{
      pointer-events: none;
    }
  }
  > x-options{
    background: #fff;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 18px;
    white-space: nowrap;
    width: inherit;
    > x-item{
      &:hover{
        background: #ccc;
      }
      &[data-selected]{
        color: #fff;
      }
      &:before{
        border: 1px solid #000;
        content: " ";
        display: inline-block;
        height: 10px;
        margin: 0 2px;
        position: relative;
        width: 10px;
      }
      @each $group, $values in $colours{
        @each $type, $value in $values{
          @if $type == "prim"{
            &[data-value="#{$group}"]{
              &[data-selected]{
                background: $value;
              }
              &:before{
                background: $value;
              }
            }
          }
        }
      }
    }
  }
}
