x-dropdown{
  background: #fff;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  width: 150px;
  &[data-active]{
    > x-options{
      display: inline-flex;
    }
  }
  &[theme="red"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__red-options-item_selected--color;
        }
      }
    }
  }
  &[theme="pink"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__pink-options-item_selected--color;
        }
      }
    }
  }
  &[theme="purple"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__purple-options-item_selected--color;
        }
      }
    }
  }
  &[theme="deepPurple"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__deepPurple-options-item_selected--color;
        }
      }
    }
  }
  &[theme="indigo"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__indigo-options-item_selected--color;
        }
      }
    }
  }
  &[theme="blue"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__blue-options-item_selected--color;
        }
      }
    }
  }
  &[theme="lightBlue"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__lightBlue-options-item_selected--color;
        }
      }
    }
  }
  &[theme="cyan"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__cyan-options-item_selected--color;
        }
      }
    }
  }
  &[theme="teal"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__teal-options-item_selected--color;
        }
      }
    }
  }
  &[theme="green"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__green-options-item_selected--color;
        }
      }
    }
  }
  &[theme="lightGreen"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__lightGreen-options-item_selected--color;
        }
      }
    }
  }
  &[theme="lime"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__lime-options-item_selected--color;
        }
      }
    }
  }
  &[theme="yellow"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__yellow-options-item_selected--color;
        }
      }
    }
  }
  &[theme="amber"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__amber-options-item_selected--color;
        }
      }
    }
  }
  &[theme="orange"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__orange-options-item_selected--color;
        }
      }
    }
  }
  &[theme="deepOrange"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__deepOrange-options-item_selected--color;
        }
      }
    }
  }
  &[theme="brown"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__brown-options-item_selected--color;
        }
      }
    }
  }
  &[theme="blueGrey"]{
    > options{
      > item{
        &[selected]{
          background: $dropdown_theme__blueGrey-options-item_selected--color;
        }
      }
    }
  }
  > x-selected{
    display: flex;
    justify-content: space-between;
    width: inherit;
    > .text{
      pointer-events: none;
    }
    > x-icon{
      pointer-events: none;
    }
  }
  > x-options{
    background: #fff;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 18px;
    white-space: nowrap;
    width: inherit;
    > x-item{
      &:hover{
        background: #ccc;
      }
      &[selected]{
        color: #fff;
      }
      &[value="red"]{
        &:before{
          background: $redP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="pink"]{
        &:before{
          background: $pinkP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="purple"]{
        &:before{
          background: $purpleP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="deepPurple"]{
        &:before{
          background: $deepPurpleP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="indigo"]{
        &:before{
          background: $indigoP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="blue"]{
        &:before{
          background: $blueP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="lightBlue"]{
        &:before{
          background: $lightBlueP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="cyan"]{
        &:before{
          background: $cyanP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="teal"]{
        &:before{
          background: $tealP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="green"]{
        &:before{
          background: $greenP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="lightGreen"]{
        &:before{
          background: $lightGreenP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="lime"]{
        &:before{
          background: $limeP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="yellow"]{
        &:before{
          background: $yellowP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="amber"]{
        &:before{
          background: $amberP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="orange"]{
        &:before{
          background: $orangeP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="deepOrange"]{
        &:before{
          background: $deepOrangeP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="brown"]{
        &:before{
          background: $brownP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
      &[value="blueGrey"]{
        &:before{
          background: $blueGreyP;
          border: 1px solid #000;
          content: " ";
          display: inline-block;
          height: 10px;
          margin: 0 2px;
          position: relative;
          width: 10px;
        }
      }
    }
  }
}
