> .errors{
  align-items: flex-start;
  background: $errors--background;
  box-sizing: border-box;
  color: $errors--color;
  display: flex;
  flex-direction: column;
  height: #{calc(100% - 32px)};
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 32px;
  transform: translateX(100%);
  transition: 1s transform $easeOutSine, 1s opacity $easeOutSine;
  min-width: 540px;
  width: 75%;
  word-break: break-word;
  z-index: 1;
  @each $group, $values in $colours{
    @each $type, $value in $values{
      &[data-theme="#{$group}"]{
        > .tabs{
          > .tab{
            @if $type == "ligh"{
              border-bottom-color: $value;
            }
            &:hover{
              @if $type == "dark"{
                border-bottom-color: $value;
              }
            }
            &[data-enabled]{
              @if $type == "prim"{
                border-bottom-color: $value;
              }
            }
          }
        }
      }
    }
  }
  &[data-active]{
    opacity: 1;
    transform: translateX(0);
  }
  > .tabs{
    align-items: center;
    display: flex;
    min-height: 66px;
    max-height: 66px;
    height: 66px;
    justify-content: space-around;
    width: 100%;
    > .tab{
      align-content: center;
      border-bottom: 2px;
      border-bottom-style: dashed;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      font-weight: initial;
      justify-content: center;
      user-select: none;
      width: 20%;
      &[data-enabled]{
        border-bottom-style: solid;
        font-weight: bold;
      }
      > x-icon{
        font-size: 24px;
        pointer-events: none;
      }
      > .text{
        align-items: center;
        display: flex;
        justify-content: center;
        pointer-events: none;
      }
      > .count{
        align-self: center;
        font-size: 0.75em;
        pointer-events: none;
        &:before{
          content: "(";
        }
        &:after{
          content: ")";
        }
      }
    }
  }
  > .lists{
    display: flex;
    > .list{
      display: none;
      flex-direction: column;
      &[data-active]{
        display: flex;
      }
      > .group{
        &[data-collapsed]{
          > ul{
            display: none;
          }
        }
        > ul{
          list-style: square;
          margin-top: 0;
          > li{
            font-size: 16px;
            margin: 8px 0;
            &:first-child{
              margin-top: 0;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
        > .heading{
          cursor: pointer;
          font-size: 18px;
          user-select: none;
          > x-icon{
            pointer-events: none;
          }
          > .text{
            pointer-events: none;
          }
          > .count{
            align-self: center;
            font-size: 0.75em;
            pointer-events: none;
            &:before{
              content: "(";
            }
            &:after{
              content: ")";
            }
          }
        }
      }
    }
  }
}
