> errors{
  align-items: flex-start;
  background: $errors--background;
  box-sizing: border-box;
  color: $errors--color;
  display: flex;
  flex-direction: column;
  height: #{calc(100% - 32px)};
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 32px;
  transform: translateX(0);
  transition: 1s transform $easeOutSine, 1s opacity $easeOutSine;
  min-width: 540px;
  width: 75%;
  word-break: break-word;
  z-index: 1;
  &[sleep]{
    transform: translateX(100%);
    opacity: 0;
  }
  &[theme="red"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__red-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__red-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="pink"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__pink-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__pink-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="purple"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__purple-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__purple-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="deepPurple"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__deepPurple-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__deepPurple-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="indigo"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__indigo-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__indigo-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="blue"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__blue-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__blue-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="lightBlue"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__lightBlue-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__lightBlue-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="cyan"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__cyan-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__cyan-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="teal"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__teal-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__teal-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="green"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__green-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__green-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="lightGreen"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__lightGreen-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__lightGreen-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="lime"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__lime-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__lime-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="yellow"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__yellow-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__yellow-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="amber"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__amber-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__amber-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="orange"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__orange-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__orange-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="deepOrange"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__deepOrange-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__deepOrange-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="brown"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__brown-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__brown-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  &[theme="blueGrey"]{
    > tabs{
      > tab{
        border-bottom-color: $errors_theme__blueGrey-tabs-tab-borderBottomColor;
        &[enabled]{
          border-bottom-color: $errors_theme__blueGrey-tabs-tab-borderBottomColor__enabled;
        }
      }
    }
  }
  > tabs{
    align-items: center;
    display: flex;
    min-height: 66px;
    max-height: 66px;
    height: 66px;
    justify-content: space-around;
    width: 100%;
    > tab{
      align-content: center;
      border-bottom: 2px;
      border-bottom-style: dashed;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      font-weight: initial;
      justify-content: center;
      user-select: none;
      width: 20%;
      &[enabled]{
        border-bottom-style: solid;
        font-weight: bold;
      }
      > icon{
        font-size: 24px;
        pointer-events: none;
      }
      > text{
        align-items: center;
        display: flex;
        justify-content: center;
        pointer-events: none;
      }
      > count{
        align-self: center;
        font-size: 0.75em;
        pointer-events: none;
        &:before{
          content: "(";
        }
        &:after{
          content: ")";
        }
      }
    }
  }
  > lists{
    display: flex;
    > list{
      display: flex;
      flex-direction: column;
      &[sleep]{
        display: none;
      }
      > group{
        &[collapsed]{
          > ul{
            display: none;
          }
        }
        > ul{
          list-style: square;
          margin-top: 0;
          > li{
            font-size: 16px;
            margin: 8px 0;
            &:first-child{
              margin-top: 0;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
        > heading{
          cursor: pointer;
          font-size: 18px;
          user-select: none;
          > icon{
            pointer-events: none;
          }
          > text{
            pointer-events: none;
          }
          > count{
            align-self: center;
            font-size: 0.75em;
            pointer-events: none;
            &:before{
              content: "(";
            }
            &:after{
              content: ")";
            }
          }
        }
      }
    }
  }
}
