> .menu{
  align-items: center;
  background: $menu--background;
  color: $menu--color;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  height: 32px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
  @each $group, $values in $colours{
    @each $type, $value in $values{
      &[data-theme="#{$group}"]{
        > .container{
          > x-icon{
            &:hover{
              @if $type == "ligh"{
                color: $value;
              }
            }
            &:active{
              @if $type == "dark"{
                color: $value;
              }
            }
            &[data-enabled]{
              @if $type == "prim"{
                color: $value;
              }
              &:hover{
                @if $type == "dark"{
                  color: $value;
                }
              }
              &:active{
                @if $type == "ligh"{
                  color: $value;
                }
              }
            }
          }
        }
      }
    }
  }
  > .container{
    display: inline-flex;
    > x-icon{
      cursor: pointer;
      margin: 0 4px;
      user-select: none;
      transition: color 50ms;
    }
  }
  > .path{
    align-items: center;
    background: $menu-path--background;
    cursor: pointer;
    display: inline-flex;
    font-size: 20px;
    flex-grow: 1;
    height: 16px;
    overflow: hidden;
    padding: 4px 0;
    &:hover{
      animation-play-state: paused;
    }
    > x-icon{
      background: $menu-path-icon--background;
      position: relative;
      z-index: 1;
    }
    > .text{
      font-size: 18px;
      overflow: hidden;
      padding-left: 4px;
      text-overflow: ellipsis;
      &.scroll{
        animation: scroll 15s linear infinite;
        overflow: initial;
        animation-play-state: inherit;
      }
    }
  }
  > input{
    display: none;
    position: absolute;
    pointer-events: none;
    user-select: none;
  }
  > canvas{
    display: none;
  }
}
